<header th:fragment="header">
    <!-- Begin Header Top Area -->
    <div class="header-top">
        <div class="container">
            <div class="row">
                <!-- Begin Header Top Left Area -->
                <div class="col-lg-3 col-md-4">
                    <div class="header-top-left">
                        <ul class="phone-wrap">
                            <li><span>Telephone:</span><a href="#">(+41) 123 45 67</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Header Top Left Area End Here -->
                <!-- Begin Header Top Right Area -->
                <div class="col-lg-9 col-md-8">
                    <div class="header-top-right">
                        <ul class="ht-menu">
                            <!-- Begin Login Area -->
                            <li><a href="/login" class="login language-selector-wrapper">Login</a></li>
                            <li><a href="/insert-product" class="login language-selector-wrapper">Add new product</a></li>
                            <li><a href="/manage-category" class="login language-selector-wrapper">Category management</a></li>
                            <!-- Login Area End Here -->
                        </ul>
                    </div>
                </div>
                <!-- Header Top Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Top Area End Here -->
    <!-- Begin Header Middle Area -->
    <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
        <div class="container">
            <div class="row">
                <!-- Begin Header Logo Area -->
                <div class="col-lg-3">
                    <div class="logo pb-sm-30 pb-xs-30">
                        <a href="/">
                            <img  th:src="@{/images/logo.png}" alt="">
                        </a>
                    </div>
                </div>
                <!-- Header Logo Area End Here -->
                <!-- Begin Header Middle Right Area -->
                <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                    <!-- Begin Header Middle Right Area -->
                    <div class="header-middle-right">
                        <ul class="hm-menu">
                            <!-- Begin Header Mini Cart Area -->
                            <li class="hm-minicart">
                                <div class="hm-minicart-trigger">
                                    <span class="item-icon"></span>
                                    <span class="item-text" th:inline="text">
                                                    [[${cart.getTotal()} + ' .-']]
                                                    <span class="cart-item-count" th:text="${cart.getProducts().size()}"></span>
                                                </span>
                                </div>
                                <span></span>
                                <div class="minicart">
                                    <ul class="minicart-product-list">
                                        <li th:each="product: ${cart.getProducts().keySet()}">
                                            <a th:href="@{'/product/' + ${product.id}}" class="minicart-product-image">
                                                <img style="width: 50px" th:src="@{/images/product/{img}(img=${product.img})}" alt="cart products">
                                            </a>
                                            <div class="minicart-product-details">
                                                <h6><a th:href="@{'/product/' + ${product.id}}" th:text="${product.name}"></a></h6>
                                                <span th:text="${product.price} + ' x ' + ${cart.getProductQuantity(product)}"></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="minicart-total">SUBTOTAL: <span th:text="${cart.getTotal()}"></span></p>
                                    <div class="minicart-button">
                                        <a href="/shopping-cart" class="li-button li-button-dark li-button-fullwidth li-button-sm">
                                            <span>Shopping Cart</span>
                                        </a>
                                        <a href="/checkout" class="li-button li-button-fullwidth li-button-sm">
                                            <span>Checkout</span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <!-- Header Mini Cart Area End Here -->
                        </ul>
                    </div>
                    <!-- Header Middle Right Area End Here -->
                </div>
                <!-- Header Middle Right Area End Here -->
            </div>
        </div>
    </div>
    <!-- Header Middle Area End Here -->
    <!-- Begin Header Bottom Area -->
    <div class="header-bottom header-sticky d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin Header Bottom Menu Area -->
                    <div class="hb-menu hb-menu-2 d-xl-block">
                        <nav>
                            <ul>
                                <li class="dropdown-holder"><a href="/">Home</a></li>
                                <li class="megamenu-static-holder"><a href="/category">All products</a>
                                    <ul class="megamenu hb-megamenu">
                                        <li><a href="/category">All categories</a>
                                            <ul>
                                                <li th:each="category : ${categories}"><a style="text-transform: capitalize;" th:href="@{'/category/' + ${category.name}}">[[${category.name}]]</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a id="about" href="/about">About Us</a></li>
                                <li><a id="contact" style="content: none!important;" href="/contact">Contact</a></li>
                                <!-- Begin Header Bottom Menu Information Area -->
                                <li class="hb-info f-right p-0 d-sm-none d-lg-block">
                                    <span>1400 Yverdon, HEIG-VD, CH</span>
                                </li>
                                <!-- Header Bottom Menu Information Area End Here -->
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Bottom Menu Area End Here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End Here -->
    <!-- Begin Mobile Menu Area -->
    <div class="mobile-menu-area d-lg-none d-xl-none col-12">
        <div class="container">
            <div class="row">
                <div class="mobile-menu">
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area End Here -->
</header>
