<!doctype html>
<html class="no-js" lang="zxx">

<!-- about-us32:04-->
<head th:replace="fragments/head :: head"></head>
    <body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            <header th:replace="fragments/header :: header"></header>
            <!-- Header Area End Here -->
            <!-- about wrapper start -->
            <div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                        <!-- About Text Start -->
                        <div class="col-lg-6 order-last order-lg-first">
                            <div class="about-text-wrap">
                                <h2><span>Provide Best</span>Product For You</h2>
                                <p>We provide the best Beard oile all over the world. We are the worldd best store in indi for Beard Oil. You can buy our product without any hegitation because they truste us and buy our product without any hagitation because they belive and always happy buy our product.</p>
                                <p>Some of our customer say’s that they trust us and buy our product without any hagitation because they belive us and always happy to buy our product.</p>
                                <p>We provide the beshat they trusted us and buy our product without any hagitation because they belive us and always happy to buy.</p>
                            </div>
                        </div>
                        <!-- About Text End -->
                        <!-- About Image Start -->
                        <div class="col-lg-5 col-md-10">
                            <div class="about-image-wrap">
                                <img class="img-full" th:src="@{/images/about-us.jpg}" alt="About Us" />
                            </div>
                        </div>
                        <!-- About Image End -->
                    </div>
                </div>
            </div>
            <!-- about wrapper end -->
            <!-- team area wrapper start -->
            <div class="team-area pt-60 pt-sm-44">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="li-section-title capitalize mb-25">
                                <h2><span>our team</span></h2>
                            </div>
                        </div>
                    </div> <!-- section title end -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                                <div class="team-thumb">
                                    <img th:src="@{/images/team/1.png}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Alessandro Parrino</h3>
                                    <p>Lord of MVC</p>
                                    <a href="#">mvc@amtech.com</a>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                                <div class="team-thumb">
                                    <img th:src="@{/images/team/2.png}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Marco Maziero</h3>
                                    <p>Janitor</p>
                                    <a href="#">broom@amtech.com</a>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-30 mb-sm-60">
                                <div class="team-thumb">
                                    <img th:src="@{/images/team/3.png}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Daniel Sciarra</h3>
                                    <p>Master of data</p>
                                    <a href="#">couchbase@amtech.com</a>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-30 mb-sm-60 mb-xs-60">
                                <div class="team-thumb">
                                    <img th:src="@{/images/team/4.png}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Anh Mai Hoang</h3>
                                    <p>Guardian of servlets</p>
                                    <a href="#">tomcat@amtech.com</a>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-30 mb-sm-60 mb-xs-60">
                                <div class="team-thumb">
                                    <img th:src="@{/images/team/5.png}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Gaétan Zwick</h3>
                                    <p>CEO of CSS</p>
                                    <a href="#">displayflex@amtech.com</a>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                    </div>
                </div>
            </div>
            <!-- team area wrapper end -->
            <!-- Begin Footer Area -->
            <div class="footer" th:replace="fragments/footer :: footer"></div>
            <!-- Footer Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
    <div th:replace="fragments/scripts :: scripts"></div>
    </body>

<!-- about-us32:14-->
</html>
