<!doctype html>
<html class="no-js" lang="zxx">

<!-- login-register31:27-->
<head th:replace="fragments/head :: head"></head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Begin Body Wrapper -->
<div class="body-wrapper">

  <!-- Begin Li's Breadcrumb Area -->
  <div class="breadcrumb-area">
    <div class="container">
      <div class="breadcrumb-content">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active">Insert</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Li's Breadcrumb Area End Here -->
  <!-- Begin Insert Content Area -->
  <div class="page-section mb-60">
    <div class="container">

        <div class="col-sm-12 col-md-12 col-lg-8 col-xs-12">
          <form action="#" th:action="@{/insert-product}" th:object="${product}" method="post">
            <div class="login-form">
              <h4 class="login-title">Insert new product</h4>
              <div class="row">
                <div class="col-md-6 col-12 mb-20">
                  <label>Name</label>
                  <input th:field="*{name}" class="mb-0" type="text" placeholder="Enter The Name">
                </div>
                <div class="col-md-6 col-12 mb-20">
                  <label>Price</label>
                  <input  th:field="*{price}" class="mb-0" type="text" placeholder="Enter The Price">
                </div>
                <div class="col-md-12 mb-20">
                  <label for="exampleFormControlTextarea1" class="form-label">description</label>
                  <textarea th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-md-6 col-12 mb-20">
                  <label>Quantity</label>
                  <input th:field="*{quantity}" class="mb-0" type="text" placeholder="Enter The Quantity">
                </div>
                <div class="col-md-6 col-12 mb-20">
                  <label>Rating</label>
                  <input th:field="*{rating}" class="mb-0" type="text" placeholder="Enter The Rating">
                </div>
                <div class="col-md-6 mb-20">
                  <label>Sale</label>
                  <input th:field="*{sale}" class="mb-0" type="text" placeholder="Enter The Sale">
                </div>
                <div class="col-md-6 mb-20">
                  <label>Sale Percentage</label>
                  <input th:field="*{salePercentage}" class="mb-0" type="text" placeholder="Enter The Sale Percentage">
                </div>
                <div class="col-md-12 mb-30">
                  <label>Category</label>
                  <select th:field="*{category}" style="height: 85%;" class="form-select" multiple aria-label="multiple select example">
                    <option value="1">Category1</option>
                    <option value="2">Category2</option>
                    <option value="3">Category3</option>
                    <option value="4">Category4</option>
                    <option value="5">Category5</option>
                    <option value="6">Category6</option>
                    <option value="7">Category7</option>
                    <option value="8">Category8</option>
                    <option value="9">Category9</option>
                  </select>
                </div>
                <div class="col-md-12 mb-20">
                  <label for="formFile" class="form-label">Image Upload</label>
                  <input class="form-control" type="file" id="formFile" onchange="preview()">
                  <button style="float: right;" onclick="clearImage()" class="register-button mt-0">Remove image</button>
                </div>
                <div class="col-12">
                  <button type="submit" class="register-button mt-2">Register</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- Insert Content Area End Here -->
  <script>
    function preview() {
      frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
      document.getElementById('formFile').value = null;
      frame.src = "";
    }
  </script>
</div>
<!-- Body Wrapper End Here -->
<div th:replace="fragments/scripts :: scripts"></div>
</body>

<!-- login-register31:27-->
</html>
