<!doctype html>
<html class="no-js" lang="zxx">

<!-- login-register31:27-->
<head th:replace="fragments/head :: head"></head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Begin Body Wrapper -->
<div class="body-wrapper">

  <!-- Begin Li's Breadcrumb Area -->
  <div class="breadcrumb-area">
    <div class="container">
      <div class="breadcrumb-content">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active">Insert new product</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Li's Breadcrumb Area End Here -->
  <!-- Begin Insert Content Area -->
  <div class="page-section mb-60">
    <div class="container">

        <div class="col-sm-12 col-md-12 col-lg-8 col-xs-12">
          <form action="#" th:action="@{/admin/insert-product}" th:object="${product}" method="post" enctype="multipart/form-data">
            <div class="login-form">
              <h4 class="login-title">Insert new product</h4>
              <div class="row">
                <div class="col-md-6 col-12 mb-20">
                  <label>Name</label>
                  <input th:field="*{name}" class="mb-0" type="text" placeholder="Enter The Name" required>
                  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                  <div style="color: red" th:if="${error != null}" th:text="${error}"></div>
                </div>
                <div class="col-md-6 col-12 mb-20">
                  <label>Price</label>
                  <input th:field="*{price}" class="mb-0" type="number" step="0.01" min="0" placeholder="Enter The Price" required>
                  <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>
                </div>
                <div class="col-md-12 mb-20">
                  <label for="exampleFormControlTextarea1" class="form-label">description</label>
                  <textarea th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-md-6 col-12 mb-20">
                  <label>Quantity</label>
                    <input th:field="*{quantity}" class="mb-0" type="number" min="0" value="1" placeholder="Enter The Quantity" required>
                  <div style="color: red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</div>
                </div>
                <div class="col-md-6 col-12 mb-20">
                  <label>Rating</label>
                    <input th:field="*{rating}" class="mb-0" type="number" min="0" max="5" placeholder="Enter The Rating" required
                    >
                  <div style="color: red" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Rating Error</div>
                </div>
                <div class="col-md-6 mb-20">
                  <label>Sale Percentage</label>
                    <input th:field="*{salePercentage}" class="mb-0" type="number" min="0" max="100" placeholder="Enter The Sale Percentage" required>
                  <div style="color: red" th:if="${#fields.hasErrors('salePercentage')}" th:errors="*{salePercentage}">Sale Error</div>
                </div>
                <div class="col-md-12 mb-30">
                  <label>Category</label>
                  <select th:field="*{category}" style="height: 85%;" class="form-select" multiple aria-label="multiple select example">
                    <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"> </option>
                  </select>
                </div>
                <div class="col-md-12 mb-20">
                  <label for="formFile" class="form-label">Image Upload</label>
                  <input name="image" class="form-control" type="file" id="formFile" onchange="preview()" accept="image/png, image/jpeg">
                  <button style="float: right;" onclick="clearImage()" class="register-button mt-0">Remove image</button>
                </div>
                <div class="col-12">
                  <button type="submit" class="register-button mt-2">Register</button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!-- Insert Content Area End Here -->
  <script>
    function preview() {
      frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
      document.getElementById('formFile').value = null;
      frame.src = "";
    }
  </script>
<!-- Body Wrapper End Here -->
<div th:replace="fragments/scripts :: scripts"></div>
</body>

<!-- login-register31:27-->
</html>
