<!doctype html>
<html class="no-js" lang="zxx">

<!-- login-register31:27-->
<head th:replace="fragments/head :: head"></head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Begin Body Wrapper -->
<div class="body-wrapper">

  <!-- Begin Li's Breadcrumb Area -->
  <div class="breadcrumb-area">
    <div class="container">
      <div class="breadcrumb-content">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active">Manage category</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Li's Breadcrumb Area End Here -->
  <!-- Begin Insert Content Area -->
  <div class="page-section mb-60">
    <div class="container">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
        <form action="#" th:action="@{/admin/manage-category}" th:object="${category}" method="post">
          <div class="login-form">
            <h4 class="login-title">Insert new category</h4>
            <div class="row">
              <div class="col-md-8 col-12 mb-20">
                <label>Name</label>
                <input th:field="*{name}" class="mb-0" type="text" placeholder="Enter The Name" required>
                <div style="color: red" th:if="${error != null}" th:text="${error}"></div>
              </div>
              <div class="col-12">
                <button type="submit" class="register-button mt-2">Register</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container mt-40">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
        <h4 class="login-title">All categories</h4>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr th:if="${categories.isEmpty()}">
            <td colspan="3"> No category available </td>
          </tr>
          <tr th:each="cat : ${categories}">
            <div>
              <td><span th:text="${cat.name}"> Name </span></td>
              <td>
                <button type="button" class="register-button mt-2" data-toggle="modal" th:attr="data-target='#myModal'+${cat.id}">
                  Delete
                </button>
              </td>
              <!-- The Modal -->
              <div class="modal" th:id="'myModal'+${cat.id}">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4  class="modal-title">Are you sure you want to delete the category?</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                  <!-- Modal body -->
                  <div class="modal-body" th:if="${!prodService.getProductsByCategory(cat.name).isEmpty()}">
                    <p>The following products will be modified:</p>
                    <ul class="minicart-product-list">
                      <div th:each="product : ${prodService.getProductsByCategory(cat.name)}">
                        <li>
                          <div class="minicart-product-details">
                            <h6 th:text="${product.name}"></h6>
                          </div>
                        </li>
                      </div>

                    </ul>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="#" th:action="@{'/admin/manage-category/delete/' + ${cat.id}}" th:method="delete">
                      <button type="submit" class="btn btn-danger">Confirm</button>
                    </form>
                  </div>

                </div>
              </div>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Insert Content Area End Here -->
<script></script>
<!-- Body Wrapper End Here -->
<div th:replace="fragments/scripts :: scripts"></div>
</body>

<!-- login-register31:27-->
</html>
