<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">

<!-- shopping-cart31:32-->
<head th:replace="fragments/head :: head"></head>
    <body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            <header th:replace="fragments/header :: header"></header>
            <!-- Header Area End Here -->
            <!--Shopping Cart Area Strat-->
            <div class="Shopping-cart-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="/shopping-cart" method="post">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="li-product-thumbnail">images</th>
                                                <th class="cart-product-name">Product</th>
                                                <th class="li-product-price">Unit Price</th>
                                                <th class="li-product-quantity">Quantity</th>
                                                <th class="li-product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="record: ${cart.getProducts().values()}">
                                                <input name="form_product_id" type="hidden" th:value="${record.product.id}" >
                                                <td class="li-product-thumbnail"><a th:href="'product/' + ${record.product.id}"><img style="width: 90px" th:src="@{${record.product.img}}" alt="Product Image"></a></td>
                                                <td class="li-product-name"><a href="#" th:text="${record.product.name}"></a></td>
                                                <td class="li-product-price"><span class="amount" th:text="'CHF ' + ${record.product.price}"></span></td>
                                                <td class="quantity">
                                                    <label>Quantity</label>
                                                    <div class="cart-plus-minus">
                                                        <input name="form_product_quantity" class="cart-plus-minus-box" th:value="${cart.getProductQuantity(record.product)}" type="text">
                                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                    </div>
                                                </td>
                                                <td id="total_price_box" class="product-subtotal"><span class="amount" th:text="'CHF ' + ${cart.getProductTotal(record.product)}"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="coupon-all">
                                            <div class="coupon">
                                                <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text" disabled>
                                                <input class="button" name="apply_coupon" value="Apply coupon" type="submit" disabled>
                                            </div>
                                            <div class="coupon2">
                                                <input class="button" name="empty_cart" value="Empty cart" type="submit" style="margin-left: 10px">
                                            </div>
                                            <div class="coupon2">
                                                <input class="button" name="update_cart" value="Update cart" type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-5 ml-auto">
                                        <div class="cart-page-total">
                                            <h2>Cart totals</h2>
                                            <ul>
                                                <li>Total <span th:text="'CHF ' + ${cart.getTotal()}"></span></li>
                                            </ul>
                                            <a href="/checkout">Proceed to checkout</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Shopping Cart Area End-->
            <!-- Begin Footer Area -->
            <div class="footer" th:replace="fragments/footer :: footer"></div>
            <!-- Footer Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
    <div th:replace="fragments/scripts :: scripts"></div>
    </body>

<!-- shopping-cart31:32-->
</html>
