<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<!-- shop-left-sidebar31:47-->
<head th:replace="fragments/head :: head"></head>
    <body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
            <header th:replace="fragments/header :: header"></header>
            <!-- Header Area End Here -->
            <!-- Begin Li's Content Wraper Area -->
            <div class="content-wraper pt-60 pb-60 pt-sm-30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 order-1 order-lg-2">
                            <!-- Begin Li's Banner Area -->
                            <div class="single-banner shop-page-banner">
                                <img th:src="@{/images/bg-banner/2.jpg}" alt="Li's Static Banner">
                            </div>
                            <!-- Li's Banner Area End Here -->
                            <!-- shop-products-wrapper start -->
                            <div class="shop-products-wrapper">
                                <div class="tab-content">
                                    <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                                        <div class="product-area shop-product-area">
                                            <div class="row">
                                            <!-- TEMPLATE -->
                                                <div th:each="product : ${products}"
                                                     class="col-lg-4 col-md-4 col-sm-6 mt-40">
                                                    <div class="single-product-wrap">
                                                        <div class="product-image">
                                                            <a th:href="@{'/product/'+ ${product.id}}">
                                                                <img th:src="@{'/images/product/large-size/'+ ${product.img}}"
                                                                     alt="Li's Product Image">
                                                            </a>
                                                            <span class="sticker">New</span>
                                                        </div>
                                                        <div class="product_desc">
                                                            <div class="product_desc_info">
                                                                <div class="product-review">
                                                                    <h5 class="manufacturer">
                                                                        <a th:href="@{'/product/'+ ${product.id}}">Graphic Corner</a>
                                                                    </h5>
                                                                    <div class="rating-box">
                                                                        <ul class="rating">
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li class="no-star"><i
                                                                                    class="fa fa-star-o"></i></li>
                                                                            <li class="no-star"><i
                                                                                    class="fa fa-star-o"></i></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <h4><a class="product_name" th:href="@{'/product/'+ ${product.id}}"
                                                                       th:text="${product.name}"></a></h4>
                                                                <div class="price-box">
                                                                    <span th:text="${product.price}+'.–' " class="new-price"></span>
                                                                </div>
                                                            </div>
                                                            <div class="add-actions">
                                                                <ul class="add-actions-link">
                                                                    <li class="add-cart active">
                                                                        <form id="add_to_cart" th:action="'/product/' + ${product.id}" method="post">
                                                                            <input name="product_quantity" th:value="${cart.getProductQuantity(product) + 1}" hidden>
                                                                            <input name="add_product" hidden>
                                                                            <a href="#" onclick="document.getElementById('add_to_cart').submit()">Add to cart</a>
                                                                        </form>
                                                                    </li>
                                                                    <li><a href="#" title="quick view"
                                                                           class="quick-view-btn" data-toggle="modal"
                                                                           data-target="#exampleModalCenter"><i
                                                                            class="fa fa-eye"></i></a></li>
                                                                    <li><a class="links-details" href="#"><i
                                                                            class="fa fa-heart-o"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h1 th:if="${products.size() == 0}" style="margin-left: 20px;margin-top: 20px">No Products avalaible</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- shop-products-wrapper end -->
                        </div>
                        <div class="col-lg-3 order-2 order-lg-1">
                            <!--sidebar-categores-box start  -->
                            <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                                <div class="sidebar-title">
                                    <h2 th:text="${categoryName}"></h2>
                                </div>
                                <!-- category-sub-menu start -->
                                <div class="category-sub-menu">
                                    <ul>
                                        <li><a href="#">Videos</a></li>
                                        <li><a href="#">Computer</a></li>
                                        <li><a href="#">Marco</a></li>
                                    </ul>
                                </div>
                                <!-- category-sub-menu end -->
                            </div>
                            <!--sidebar-categores-box end  -->
                            <!--sidebar-categores-box start  -->
                            <div class="sidebar-categores-box">
                                <div class="sidebar-title">
                                    <h2>Filter By</h2>
                                </div>
                                <!-- filter-sub-area start -->
                                <div class="filter-sub-area pt-sm-10 pt-xs-10">
                                    <h5 class="filter-sub-titel">Categories</h5>
                                    <div class="categori-checkbox">
                                        <form action="#">
                                            <ul>
                                                <li><input type="checkbox" name="product-categori"><a href="#">Graphic Corner</a></li>
                                                <li><input type="checkbox" name="product-categori"><a href="#">Studio Design</a></li>
                                                <li><input type="checkbox" name="product-categori"><a href="#">Studio</a></li>
                                                <li><input type="checkbox" name="product-categori"><a href="#">Design</a></li>
                                            </ul>
                                        </form>
                                    </div>
                                 </div>
                                <!-- filter-sub-area end -->
                            </div>
                            <!--sidebar-categores-box end  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Wraper Area End Here -->
            <!-- Begin Footer Area -->
            <div class="footer" th:replace="fragments/footer :: footer"></div>
            <!-- Footer Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
    <div th:replace="fragments/scripts :: scripts"></div>
    </body>

<!-- shop-left-sidebar31:48-->
</html>
