#Workflow name
name: Continuous integration Web Server
on:
  #Manually trigger workflow runs
  workflow_dispatch:
  #Trigger the workflow on push from the main branch
  push:
    branches:
      - main
      - S0-002_FB_base_project
      - S0-004_FB_autodeploySFTP
jobs:
  #Test's job
  tests:
    name: Unit tests
    #Run on Ubuntu using the latest version
    runs-on: ubuntu-latest
    #Job's steps
    steps:
      #Check-out your repository under $GITHUB_WORKSPACE, so your workflow can access it
      - uses: actions/checkout@v1
      #Set up JDK 11
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      #Set up Maven cache
      - name: Cache Maven packages
        #This action allows caching dependencies and build outputs to improve workflow execution time.
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      #Run Tests
      - name: Run Tests
        run: mvn -B test
      #Clean Install
      - name: Clean Install
        run : mvn clean install
      #Connect To AWS
      - name: Connect To DMZ
        run: ssh -L 8082:10.0.1.11:22 -L 8081:10.0.1.11:8080 AMTECH@16.170.194.237 -i "${{ secrets.SSH_DMZ_KEY }}"
      #Connect To AWS
      - name: Connect To SERVER
        run: ssh admin@localhost -p 8082 -i "${{ secrets.SSH_SERVER_KEY }}"
      #Deploy File To Server
      - name: deploy file to server
        uses: wlixcc/SFTP-Deploy-Action@v1.0
        with:
          username: 'root'
          server: '${{ secrets.SERVER_IP }}'
          ssh_private_key: ${{ secrets.SSH_SERVER_KEY }}
          local_path: './target/*.war'
          remote_path: '/var/lib/tomcat9/webapps/'
          args: '-o ConnectTimeout=5'
